.input-file {
    background-color: #71d0d4;
    border-radius: 5px 0 0 5px;
    padding: 10px 16px 10px 0;
}

.button-file {
    padding: 11px;
    border-radius: 0 5px 5px 0;
    background-color: #00c7ff;
}