<mat-vertical-stepper [selectedIndex] = "selectedindex"  #checksteper>
  <mat-step>
    <ng-template matStepLabel>Kiểm tra danh mục</ng-template>
    <div>
      <mat-list>
        <mat-list-item>
          <mat-spinner  *ngIf="checkNganhDaoTao==null" style="zoom:0.15"></mat-spinner>
          <mat-icon *ngIf="checkNganhDaoTao==true" class="active-icon green-600 s-16">check</mat-icon>
          <mat-icon *ngIf="checkNganhDaoTao==false" class="active-icon red-500 s-16">close</mat-icon>
          <span class="marginleftItem">Ngành đào tạo</span>
        </mat-list-item>
        <mat-list-item>
          <mat-spinner  *ngIf="checkDoiTuongUuTien==null" style="zoom:0.15"></mat-spinner>
          <mat-icon *ngIf="checkDoiTuongUuTien==true" class="active-icon green-600 s-16">check</mat-icon>
          <mat-icon *ngIf="checkDoiTuongUuTien==false" class="active-icon red-500 s-16">close</mat-icon>

          <span class="marginleftItem">Đối tượng ưu tiên</span>
        </mat-list-item>
        <mat-list-item>
          <mat-spinner  *ngIf="checkKhuVucUuTien==null" style="zoom:0.15"></mat-spinner>
          <mat-icon *ngIf="checkKhuVucUuTien==true" class="active-icon green-600 s-16">check</mat-icon>
          <mat-icon *ngIf="checkKhuVucUuTien==false" class="active-icon red-500 s-16">close</mat-icon>

          <span class="marginleftItem">Khu vực ưu tiên</span>
        </mat-list-item>
        <!-- <mat-list-item>
          <mat-spinner  *ngIf="checkTinhThanh==null" style="zoom:0.15"></mat-spinner>
          <mat-icon *ngIf="checkTinhThanh==true" class="active-icon green-600 s-16">check</mat-icon>
          <mat-icon *ngIf="checkTinhThanh==false" class="active-icon red-500 s-16">close</mat-icon>

          <span class="marginleftItem">Tỉnh thành</span>
        </mat-list-item>

        <mat-list-item>
          <mat-spinner  *ngIf="checkQuanHuyen==null" style="zoom:0.15"></mat-spinner>
          <mat-icon *ngIf="checkQuanHuyen==true" class="active-icon green-600 s-16">check</mat-icon>
          <mat-icon *ngIf="checkQuanHuyen==false" class="active-icon red-500 s-16">close</mat-icon>

          <span class="marginleftItem">Quận huyện</span>
        </mat-list-item> -->
      </mat-list>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Import danh sách vào hệ thống </ng-template>
    <div>
      <mat-list>
        <mat-list-item>
          <mat-spinner  *ngIf="checkImportDuLieu==null" style="zoom:0.15"></mat-spinner>
          <mat-icon *ngIf="checkImportDuLieu==true" class="active-icon green-600 s-16">check</mat-icon>
          <mat-icon *ngIf="checkImportDuLieu==false" class="active-icon red-500 s-16">close</mat-icon>
          <span class="marginleftItem">Import dữ liệu</span>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-step>
</mat-vertical-stepper>