<div id="product" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/admission/ho-so-xet-tuyen'">
          <mat-icon>arrow_back</mat-icon>
        </button>



        <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType ==='edit'">
            {{item.Ten}}
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
            Hồ sơ xét tuyển mới
          </div>
          <div class="subtitle secondary-text">
            <span>Thông tin Hồ sơ xét tuyển</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

      <button mat-raised-button class="save-product-button" [disabled]="itemForm.invalid"
        *ngIf="pageType ==='new'" (click)="addItem()">
        <span>Thêm</span>
      </button>

      <button mat-raised-button class="save-product-button"
        [disabled]="itemForm.invalid || itemForm.pristine" *ngIf="pageType ==='edit'"
        (click)="editItem()">
        <span>Lưu</span>
      </button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <div class="content p-24">
        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
          <form fxLayoutAlign="start" name="itemForm" [formGroup]="itemForm" class="product w-100-p"
            fxLayout="column" fxFlex="1 0 auto">

            <div class="h2 mb-24" *ngIf="pageType ==='new'">THÊM HỒ SƠ XÉT TUYỂN</div>
            <div class="h2 mb-24" *ngIf="pageType ==='edit'">{{item.Ten}}</div>

            <div *ngIf="pageType ==='edit'" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-form-field fxFlex="100" floatLabel="always" appearance="outline" class="w-100-p">
                <mat-label>ID</mat-label>
                <input matInput placeholder="ID" readonly name="Id" formControlName="Id">
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-form-field fxFlex="100" appearance="outline" class="w-100-p">
                <mat-label>Tên thí sinh</mat-label>
                <input matInput placeholder="Tên thí sinh" name="Ten" formControlName="Ten" required>
                <!-- thông báo lỗi -->
                <mat-error>Tên là bắt buộc</mat-error>
              </mat-form-field>
              <!-- Cách tạo khoảng trống giữa các input -->
              <!-- <div fxFlex="20" appearance="outline" class="w-100-p">&nbsp;</div> -->
            </div>
 
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-checkbox [labelPosition]="'before'" name="KichHoat" formControlName="KichHoat" fxFlex="100"
                appearance="outline" class="w-100-p" [(ngModel)]="item.KichHoat">Kích hoạt</mat-checkbox>
            </div>
            <!-- Ngày sửa, ngày tạo, người sửa, người tạo => bổ sung sau -->
          </form>
        </div>
      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>