<!-- Page-layout -->
<!-- 
-Mô tả
Tuyển sinh đại học chính quy 
-dựa theo điểm học bạ 3 năm(10,11,12) là 30%;
-dựa theo điểm thi thptqg là 60%
-sau khi đạt chỉ tiêu sơ tuyển.
-thi sinh thi kiểm tra năng lực là 10%
-->
<form id="forms" #f="ngForm" [formGroup]="formDangKy" (keydown)="handleKeyupEnter($event)"
  class="page-layout simple fullwidth" fxLayout="column">
  <!-- Content -->
  <div [ngClass]="{'isEdit': ( _hoSoXetTuyenIdRouter != 'null')}" class="container a4 p-24 col-md-offset-6"
    style="margin:auto">
    <div class="mb-24" fxLayout="column" fxLayoutAlign="center" fxLayout.gt-md="row">


      <div fxLayout="column" fxLayoutAlign="center" fxFlex="1 0 auto">
        <!-- #region ==============HEADER===========  -->
        <div class="mat-card p-10">
          <a title="Quay lại" mat-icon-button class="mr-0 mr-sm-16" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
          </a>
          <!-- APP TITLE -->
          <div class="logo mb-12 mb-sm-0" class="HeaderCenter" fxLayout="row" fxLayoutAlign="start center">
            <span class="logo-text h2" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
              <b class="header-title">PHIẾU ĐĂNG KÝ</b>
            </span>
            <br>
            <span class="logo-text h2" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
              <b class="header-title">{{_dotTuyenSinh.Ten | uppercase}}</b>
            </span>
            <br>
            <p class="red-info-header">(Thí sinh điền đầy đủ thông tin vào phiếu đăng ký xét tuyển)
            </p>

          </div>
          <div class="searchMaHoSo" *ngIf="IsGiaoDienTrongAdmin">
            <mat-label><b>MÃ HỒ SƠ: </b></mat-label>
            <mat-form-field appearance="fill" class="searchMaHoSoSearchformfeild">
              <!-- <mat-hint>Vd: 151</mat-hint> -->
              <input matInput [(ngModel)]="maHoSoSearch" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <a class="mr-24 searchMaHoSoBtn" mat-raised-button (click)="SearchMaHoSo()">
              <mat-icon matSuffix class="secondary-text">search</mat-icon>Tìm kiếm
            </a>
          </div>

        </div>
        <!-- #endregion ============HEADER========== -->

        <!-- #region ============== 1. THÔNG TIN THÍ SINH========== -->

        <div class="mat-card p-20 pb-0">

          <!-- #region header -->

          <div class="header-child style-1">
            <div class="stt"><span>1</span></div>
            <div class="content-header">
              <h2 class="header-title-child">THÔNG TIN THÍ SINH</h2>
            </div>
          </div>

          <!-- #endregion -->

          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="tt-ts">

            <!-- <mat-form-field appearance="fill" fxFlex="50" class="plr-4 col-md-4">
              <mat-label><strong>Mã hồ sơ:</strong> </mat-label>
              <input matInput id="maHoSo" [(ngModel)]="model.MaHoSo" [ngModelOptions]="{standalone: true}">

            </mat-form-field> -->

            <!-- <mat-form-field appearance="fill" fxFlex="50" class="plr-4 col-md-4">
              <mat-label>Họ & Tên lót</mat-label>
              <mat-hint>Vd: Trần Phương</mat-hint>
              <input matInput [(ngModel)]="model.ThiSinh.HoLot" [ngModelOptions]="{standalone: true}" required>
              <mat-error>Nhập họ và tên lót</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex="50" class="plr-4 plr-4 col-md-4">
              <mat-label>Tên</mat-label>
              <mat-hint>Vd: Trinh</mat-hint>

              <input matInput [(ngModel)]="model.ThiSinh.Ten" required [ngModelOptions]="{standalone: true}">
              <mat-error>Nhập tên</mat-error>
            </mat-form-field> -->

            <mat-form-field appearance="fill" fxFlex="50" class="plr-4 plr-4 col-md-4">
              <mat-label><strong>Họ và tên:</strong></mat-label>
              <input matInput [(ngModel)]="model.ThiSinh.HoLotVaTen" required [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="50" class="plr-4 plr-4 col-md-4">
              <mat-label><strong>CMND</strong></mat-label>
              <input matInput name="CMND" placeholder="Nhap CMND" (blur)="kiemTraCMND()" pattern="{{regExpClass.CMND}}"
                id="identityNum" [(ngModel)]="model.ThiSinh.CMND" required [ngModelOptions]="{standalone: true}">
              <mat-error>Nhập CMND và đúng định dạng</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="50" class="plr-4 col-md-4">
              <mat-label><strong>Ngày Sinh:</strong></mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Chọn ngày" id="birth"
                [(ngModel)]="model.ThiSinh.NgaySinh" required [ngModelOptions]="{standalone: true}">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="50" class="plr-4 col-md-4">
              <mat-label><strong>Giới tính:</strong></mat-label>
              <mat-select required [(ngModel)]="model.ThiSinh.GioiTinh" [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let gender of genders; let i=index" [value]="i">
                  {{ gender }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="50" class="plr-4 plr-4 col-md-4">
              <mat-label><strong>Số điện thoại di động:</strong><span class="mat-error">&nbsp;&nbsp;Số ĐT nhận tin nhắn
                </span></mat-label>
              <input matInput placeholder="(+84) VietNam" id="phone" [pattern]="regExpClass.SDT"
                [(ngModel)]="model.ThiSinh.SDT" [ngModelOptions]="{standalone: true}" required
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="50" class="plr-4 col-md-4">
              <mat-label> <strong>Email:</strong> </mat-label>
              <input matInput required email id="email" [(ngModel)]="model.ThiSinh.Email"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <!-- <mat-form-field appearance="fill" fxFlex="50" class="plr-4 col-md-4">
              <mat-label><strong>Mã vạch:</strong></mat-label>
              <input matInput id="mavachkythithpt" [(ngModel)]="model.ThiSinh.MaVachThiTHPTQG"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field> -->

            <mat-form-field *ngIf="_dotTuyenSinh.HinhThucXetTuyenId != 11 "
              appearance="fill" fxFlex="50" class="plr-4 col-md-5">
              <mat-label><strong>Số báo danh thi THPT QG:</strong><span class="mat-error">&nbsp;&nbsp;Nhập chính xác
                  và đầy đủ </span></mat-label>
              <input matInput id="sobaodanhthithpt" [(ngModel)]="model.ThiSinh.SoBaoDanhThiTHPTQG"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field *ngIf="_dotTuyenSinh.HinhThucXetTuyenId != 11 "
              appearance="fill" fxFlex="50" class="plr-4 col-md-5">
              <mat-label><strong>Số báo danh thi THPT QG:</strong><span class="mat-error">&nbsp;&nbsp;Nhập chính xác
                  và đầy đủ </span></mat-label>
              <input matInput id="sobaodanhthithpt" [(ngModel)]="model.ThiSinh.SoBaoDanhThiTHPTQG"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <div class="clear_all"></div>

            <!-- #region Phần kiểm tra năng lực -->
            <!-- <mat-form-field appearance="fill" fxFlex="50" class="plr-4 col-md-4">
              <mat-label>Số báo danh kiểm tra năng lực:</mat-label>
              <input matInput id="mavachkythithpt" [(ngModel)]="model.ThiSinh.SoBaoDanhThiKiemTraNangLuc"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="50" class="plr-4 col-md-4">
              <mat-label>Mã vạch:</mat-label>
              <input matInput id="mavachkythithpt" [(ngModel)]="model.ThiSinh.MaVachThiTHPTQG"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="50" class="plr-4 col-md-4">
              <mat-label>Số báo danh trong kỳ thi THPT QG:</mat-label>
              <input matInput id="sobaodanhthithpt" [(ngModel)]="model.ThiSinh.SoBaoDanhThiTHPTQG"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="50" class="plr-4 col-md-4">
              <mat-label>Ngày kiểm tra năng lực:</mat-label>
              <input matInput id="ngaykiemtranangly" [(ngModel)]="model.ThiSinh.NgayKiemTraNangLuc"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="50" class="plr-4 col-md-4">
              <mat-label>Địa điểm thi:</mat-label>
              <input matInput id="mavachkythithpt" [(ngModel)]="model.ThiSinh.DiaDiemThiNangLuc"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="50" class="plr-4 col-md-4">
              <mat-label>Phòng thi:</mat-label>
              <input matInput id="phongthiktnl" [(ngModel)]="model.ThiSinh.PhongThiNangLuc"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="50" class="plr-4 col-md-4">
              <mat-label>Giờ thi:</mat-label>
              <input matInput id="giothiktnl" [(ngModel)]="model.ThiSinh.GioThiNangLuc"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="50" class="plr-4 col-md-4">
              <mat-label>Điểm kiểm tra năng lực:</mat-label>
              <input matInput id="diemktnl" [(ngModel)]="model.ThiSinh.DiemThiNangLuc"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field> -->

            <!-- #endregion -->

            <div [ngClass]="{'error': model.ThiSinh.KhuVucUuTienId == null && f.submitted}" appearance="fill"
              fxFlex="33" class="plr-4 col-md-4 plr-4 inline-block mat-form-field">
              <app-select-dropdown placeholder="Khu vực ưu tiên" name="khuVucUuTien"
                [(ngModel)]="model.ThiSinh.KhuVucUuTienId" [ngModelOptions]="{standalone: true}" [list]="khuVucUuTiens">
              </app-select-dropdown>
            </div>

            <div [ngClass]="{'error': model.ThiSinh.DoiTuongUuTienId == null && f.submitted}" appearance="fill"
              fxFlex="33" class="plr-4 col-md-4 inline-block mat-form-field">
              <app-select-dropdown name="doituonguutien" placeholder="Đối tượng ưu tiên"
                [(ngModel)]="model.ThiSinh.DoiTuongUuTienId" [ngModelOptions]="{standalone: true}"
                [list]="doiTuongUuTiens">
              </app-select-dropdown>

            </div>


          </div>


          <!-- <h3 class="text-bold">Địa chỉ thường trú</h3> -->
          <!-- Địa chỉ thường trú -->
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="tt-ts">


            <!-- #region  Địa chỉ thường trú -->
            <div fxFlex="33" class="plr-4 col-md-9 ">
              <mat-form-field appearance="fill" fxFlex="100" class="w-100-p">
                <mat-label><strong>Địa chỉ thường trú:</strong> Số nhà, tên đường, tổ/xóm,khu phố/thôn, phường xã,
                  quận/huyện</mat-label>
                <input matInput placeholder="Tên đường" required [(ngModel)]="model.ThiSinh.DiaChiThuongTru"
                  [ngModelOptions]="{standalone: true}">
                <mat-hint></mat-hint>

              </mat-form-field>
            </div>

            <!-- #endregion -->

            <!-- Tỉnh Thành Thường trú  -->
            <div fxFlex="33" class="fluid-width plr-4 col-md-3">

              <mat-form-field appearance="fill" id="matTinhThanhThuongTru">
                <mat-label>Tỉnh/Thành phố</mat-label>
                <input id="txtTinhThanhThuongTru" type="text" placeholder="gõ tên hoặc mã Tỉnh/TP thường trú" #text
                  aria-label="Number" [formControl]="txtTinhThanhThuongTru" matInput
                  [matAutocomplete]="autoTinhThanhThuongTru">
              </mat-form-field>

              <mat-autocomplete id="autoTinhThanhThuongTru"
                (optionSelected)="onTinhThanhThuongTruSelectionChange($event.option.value)"
                #autoTinhThanhThuongTru="matAutocomplete" [displayWith]="displayWith" showPanel="true">
                <!-- (optionsScroll)="onTinhThanhThuongTruScroll()" -->
                <mat-option *ngFor="let option of tinhThanhThuongTrus$ | async" [value]="option">
                  {{option.Ten}} - {{option.MaQuanLy==null?'':option.MaQuanLy }}
                </mat-option>
              </mat-autocomplete>
            </div>
            <!-- end Tỉnh Thành thường trú -->


            <!-- Quận huyện thường trú-->
            <!-- <div appearance="fill" fxFlex="33" class="mat-form-field plr-4 plr-3 col-md-3 inline-block">

              <mat-form-field id="matQuanHuyenThuongTru" class="example-full-width">
                <mat-label>Quận huyện thường trú</mat-label>
                <input id="txtSearchQuanHuyenThuongTru" type="text" placeholder="gõ tên hoặc mã Quận/huyện" #text
                  aria-label="Number" [formControl]="txtQuanHuyenThuongTru" matInput
                  [matAutocomplete]="autoQuanHuyenThuongTru">
                <mat-error *ngIf="formDangKy.controls['txtQuanHuyenThuongTru'].hasError('required')">
                  Vui lòng nhập.
                </mat-error>

                <mat-error *ngIf="formDangKy.controls['txtQuanHuyenThuongTru'].hasError('incorrect')">
                  Vui lòng chọn.
                </mat-error>
              </mat-form-field>

              <mat-autocomplete id="matautoQuanHuyenThuongTru"
                (optionSelected)="onQuanHuyenThuongTruSelectionChange($event.option.value)"
                #autoQuanHuyenThuongTru="matAutocomplete" [displayWith]="displayWith" showPanel="true"
                (optionsScroll)="onQuanHuyenThuongTruScroll()">
                <mat-option *ngFor="let option of quanHuyenThuongTrus$ | async " [value]="option">
                  {{option.Ten}} - {{option.MaQuanLy==null?'':option.MaQuanLy }}
                </mat-option>
              </mat-autocomplete>
            </div> -->
            <!-- end Quận huyện thường trú -->

            <!-- Phường xã  thường trú -->
            <!-- <div appearance="fill" fxFlex="33" class="mat-form-field plr-4 col-md-3 inline-block">
              <mat-form-field id="matPhuongXaThuongTru" class="example-full-width">
                <mat-label>Phường xã thường trú</mat-label>
                <input id="idPhuongXaThuongTru" type="text" placeholder="gõ tên hoặc mã phường xã tạm trú" #text
                  aria-label="Number" [formControl]="txtPhuongXaThuongTru" matInput
                  [matAutocomplete]="autoPhuongXaThuongTru">
                <mat-error *ngIf="formDangKy.controls['txtPhuongXaThuongTru'].hasError('required')">
                  Vui lòng nhập.
                </mat-error>

                <mat-error *ngIf="formDangKy.controls['txtPhuongXaThuongTru'].hasError('incorrect')">
                  Vui lòng chọn.
                </mat-error>
              </mat-form-field>

              <mat-autocomplete id="matautoPhuongXaThuongTru" #autoPhuongXaThuongTru="matAutocomplete"
                [displayWith]="displayWith" showPanel="true" (optionsScroll)="onPhuongXaThuongTruScroll()">
                <mat-option *ngFor="let option of phuongXaThuongTrus$ | async" [value]="option">
                  {{option.Ten}} - {{option.MaQuanLy==null?'':option.MaQuanLy }}
                </mat-option>
              </mat-autocomplete>
            </div> -->
            <!-- end Phường xã thường trú -->




            <!-- #region Địa chỉ liên lạc -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="plr-4">
              <mat-form-field appearance="fill" fxFlex="100" class="w-100-p">
                <mat-label><strong>Địa chỉ liên lạc:</strong> Số nhà, tên đường, tổ/xóm,khu phố/thôn, phường xã,
                  quận/huyện, tỉnh/TP</mat-label>
                <input matInput placeholder="Tên đường" [(ngModel)]="model.ThiSinh.DiaChiLienLac"
                  [ngModelOptions]="{standalone: true}">
                <mat-hint></mat-hint>

              </mat-form-field>
            </div>
            <!-- #endregion -->

            <!-- #region Địa chỉ nhận giấy báo -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="plr-4">
              <mat-form-field appearance="fill" fxFlex="100" class="w-100-p">
                <mat-label><strong>Địa chỉ nhận giấy báo:</strong> Số nhà, tên đường, tổ/xóm,khu phố/thôn, phường xã,
                  quận/huyện, tỉnh/TP</mat-label>
                <input matInput placeholder="Tên đường" required [(ngModel)]="model.ThiSinh.DiaChiNhanBaoTin"
                  [ngModelOptions]="{standalone: true}">
                <mat-hint></mat-hint>

              </mat-form-field>
            </div>
            <!-- #endregion -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"
              *ngIf="_dotTuyenSinh.HinhThucXetTuyenId != 21">
              <!-- <div appearance="outline" fxFlex="33" class="mat-form-field plr-4 col-md-5 inline-block">
                <app-select-dropdown name="truongthpt12" [(ngModel)]="model.ThiSinh.TruongTHPT12Id" [list]="truongTHPTs"
                  placeholder="Trường THPT Lớp 12" required [ngModelOptions]="{standalone: true}">
                </app-select-dropdown >
              </div> -->

              <!-- Trường lớp 12 -->
              <div fxFlex="33" class="mat-form-field plr-4 col-md-12 ">

                <mat-form-field  appearance="fill"  id="matTruongLop12" class="w-100-p">
                  <mat-label><strong>Trường lớp 12</strong></mat-label>
                  <input id="txtSearchTruongLop12" type="text" placeholder="gõ tên hoặc mã trường" #text
                    aria-label="Number" [formControl]="txtTruongHocLop12" matInput
                    [matAutocomplete]="autoTruongHocLop12">
                
                </mat-form-field>

                <mat-autocomplete (optionSelected)="onOptionSelected_THPT12($event.option.value)" id="matautoTruongLop12" #autoTruongHocLop12="matAutocomplete"
                  [displayWith]="displayWithTHPT" showPanel="true" (optionsScroll)="onTruongHocLop12Scroll()">
                  <mat-option *ngFor="let option of truongHocLop12s$ | async " [value]="option">
                    {{option.MaTruong==null?'':option.MaTruong+ ' ' }}{{option.Ten}} -  {{option.DiaChi}} 
                     <!-- {{option.MaTruong==null?'':option.MaTruong }} -->
                  </mat-option>
                </mat-autocomplete>
              </div>
              <!-- end Trường lớp 12 -->
              <div class="clear_all"></div>

             <div class="note note-text"> Ghi chú: Trường hợp bạn không tìm thấy trong danh mục hoặc mã trường, mã tỉnh không đúng. Bạn vui lòng gõ mã trường, mã tỉnh nơi bạn học lớp
              12</div>
              <!-- end Tỉnh Thành thường trú -->


              <!-- <mat-form-field appearance="outline" fxFlex="50" class="plr-4 plr-4 col-md-4">
                <mat-label>Mã trường lớp 12</mat-label>
                <input matInput placeholder="Mã trường lớp 12" [(ngModel)]="model.ThiSinh.TruongTHPT12MaTruong"
                  [ngModelOptions]="{standalone: true}" required>
                  <mat-error>Yêu cầu nhập mã trường lớp 12</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="50" class="plr-4 col-md-4">
                <mat-label>Mã tỉnh của trường lớp 12</mat-label>
                <input matInput placeholder="Mã tỉnh của trường lớp 12" [(ngModel)]="model.ThiSinh.TruongTHPT12MaTinh"
                  [ngModelOptions]="{standalone: true}" required>
                  <mat-error>Yêu cầu nhập mã tỉnh của trường lớp 12</mat-error>
              </mat-form-field> -->
              <mat-form-field appearance="fill" fxFlex="50" class="plr-4 plr-4 col-md-4">
                <mat-label><strong>Mã trường lớp 12:</strong></mat-label>
                <input matInput placeholder="Mã trường lớp 12" required [(ngModel)]="model.ThiSinh.TruongTHPT12MaTruong"
                  [ngModelOptions]="{standalone: true}" required>
                <mat-hint></mat-hint>

              </mat-form-field>
              <mat-form-field appearance="fill" fxFlex="50" class="plr-4 plr-4 col-md-4">
                <mat-label><strong>Mã tỉnh của trường lớp 12:</strong></mat-label>
                <input matInput placeholder="Mã tỉnh của trường lớp 12" required
                  [(ngModel)]="model.ThiSinh.TruongTHPT12MaTinh" [ngModelOptions]="{standalone: true}" required>
                <mat-hint></mat-hint>

              </mat-form-field>
            </div>

          </div>
          <!-- end Địa chỉ thường trú -->

        </div>
        <!-- #endregion ==============THÍ SINH==========-->

        <!-- #region ============== 2. THÔNG TIN ĐĂNG KÝ =============-->
        <div class="mat-card p-20 pb-10">

          <!-- #region header -->
          <div class="header-child style-1">
            <div class="stt"><span>2</span></div>
            <div class="content-header">
              <h2 class="header-title-child">THÔNG TIN ĐĂNG KÝ</h2>
            </div>
          </div>
          <!-- #endregion -->
          <!-- #region Body phần đăng ký  -->

          <div class="form-group">
            <!-- #region Nguyện vọng và bảng điểm -->
            <div *ngFor="let item of model.NguyenVongs | OrderASC:'ThuTuNguyenVong'; let i = index" fxLayout="row"
              fxLayoutAlign="start center" fxFlex="1 0 auto">

              <!-- #region thứ tự ưu tiên, ngành, tổ hợp môn -->

              <mat-form-field appearance="outline" fxFlex="10" class="plr-4 col-md-1">
                <mat-label>Ưu tiên:</mat-label>
                <input matInput type="number" [(ngModel)]="item.ThuTuNguyenVong" [ngModelOptions]="{standalone: true}"
                  required>
                <mat-error>Nhập số ưu tiên</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="40" class="plr-4 col-md-4 col-xs-80">
                <mat-label>Chọn ngành:</mat-label>
                <mat-select name="nganhdaotao{{i}}" [compareWith]="compareObjects" [(ngModel)]="item.NganhDaoTao"
                  [ngModelOptions]="{standalone: true}" (selectionChange)="onChangeNguyenVong(i, $event.source.value)"
                  required>
                  <mat-option *ngFor="let nganhDaoTao of nganhDaoTaos" [value]="nganhDaoTao">
                    {{ nganhDaoTao.Ten }}
                  </mat-option>
                </mat-select>

              </mat-form-field>


              <mat-form-field *ngIf="item.ChoPhepChonChuyenNganh" appearance="outline" fxFlex="40"
                class="plr-4 col-md-3 col-xs-80">
                <mat-label>Chọn chuyên ngành:</mat-label>
                <mat-select name="nganhdaotao{{i}}" [compareWith]="compareObjects" [(ngModel)]="item.ChuyenNganhDaoTao"
                  [ngModelOptions]="{standalone: true}" required>
                  <mat-option *ngFor="let chuyenNganhDaoTao of item.ChuyenNganhDaoTaos" [value]="chuyenNganhDaoTao">
                    {{ chuyenNganhDaoTao.Ten }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="40" class="plr-4 col-md-3 col-xs-80">
                <mat-label>Tổ hợp môn</mat-label>
                <mat-select name="tohopcotdiem{{i}}" [(ngModel)]="item.ToHopCotDiemId"
                  [ngModelOptions]="{standalone: true}" (selectionChange)="onChangeToHopCotDiem(i, $event.source.value)"
                  required>
                  <mat-option *ngFor="let item of model.NguyenVongs[i].TopHopCotDiems" [value]="item.Id">
                    {{item.Ten}}
                  </mat-option>
                </mat-select>
                <mat-error>Chọn Tổ hợp môn Xét tuyển</mat-error>
              </mat-form-field>

              <div class="col-md-1 col-xs-20 pb-vertical">
                <a *ngIf="this.model.NguyenVongs.length > 1" mat-button color="warn"
                  (click)="onDeleteNguyenVongClick(i)">
                  <mat-icon matSuffix>close</mat-icon>
                </a>
              </div>
              <!-- #endregion -->

              <!-- #region cột điểm render theo từng nguyện vọng -->

              <!-- <div *ngIf="item.CotDiems.length > 0" class="pb-20">
                <table *ngIf="item.CotDiems.length > 0" mat-table [dataSource]="item.CotDiems"
                  class="tbl-Diem table-responsive table-bordered mb-20">

                  <ng-container matColumnDef="Ten">
                    <th mat-header-cell *matHeaderCellDef> Môn </th>
                    <td data-title="Môn" mat-cell *matCellDef="let element">{{element.Ten}} </td>
                  </ng-container>

                  <ng-container matColumnDef="HK1_10">
                    <th mat-header-cell *matHeaderCellDef> HK1 lớp 10 </th>
                    <td data-title="Điểm" mat-cell *matCellDef="let element">
                      <mat-form-field appearance="outline">
                        <input matInput placeholder="Điểm" [pattern]="regExpClass.Diem" [(ngModel)]="element.HK1_10"
                          [ngModelOptions]="{standalone: true}" required>
                       
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="HK2_10">
                    <th mat-header-cell *matHeaderCellDef> HK2 lớp 10 </th>
                    <td data-title="Điểm" mat-cell *matCellDef="let element">
                      <mat-form-field appearance="outline">
                        <input matInput placeholder="Điểm" [pattern]="regExpClass.Diem" [(ngModel)]="element.HK2_10"
                          [ngModelOptions]="{standalone: true}" required>
                      
                      </mat-form-field>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="HK1_11">
                    <th mat-header-cell *matHeaderCellDef> HK1 lớp 11 </th>
                    <td data-title="Điểm" mat-cell *matCellDef="let element">
                      <mat-form-field appearance="outline">
                        <input matInput placeholder="Điểm" [pattern]="regExpClass.Diem" [(ngModel)]="element.HK1_11"
                          [ngModelOptions]="{standalone: true}" required>
                     
                      </mat-form-field>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="HK2_11">
                    <th mat-header-cell *matHeaderCellDef> HK2 lớp 11 </th>
                    <td data-title="Điểm" mat-cell *matCellDef="let element">
                      <mat-form-field appearance="outline">
                        <input matInput placeholder="Điểm" [pattern]="regExpClass.Diem" [(ngModel)]="element.HK2_11"
                          [ngModelOptions]="{standalone: true}" required>
                     
                      </mat-form-field>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="HK1_12">
                    <th mat-header-cell *matHeaderCellDef> HK1 lớp 12 </th>
                    <td data-title="Điểm" mat-cell *matCellDef="let element">
                      <mat-form-field appearance="outline">
                        <input matInput placeholder="Điểm" [pattern]="regExpClass.Diem" [(ngModel)]="element.HK1_12"
                          [ngModelOptions]="{standalone: true}" required>
                      
                      </mat-form-field>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="HK2_12">
                    <th mat-header-cell *matHeaderCellDef> HK2 lớp 12 </th>
                    <td data-title="Điểm" mat-cell *matCellDef="let element">
                      <mat-form-field appearance="outline">
                        <input matInput placeholder="Điểm" [pattern]="regExpClass.Diem" [(ngModel)]="element.HK2_12"
                          [ngModelOptions]="{standalone: true}" required>
                      
                      </mat-form-field>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="THPTQG">
                    <th mat-header-cell *matHeaderCellDef> THPTQG </th>
                    <td data-title="Điểm" mat-cell *matCellDef="let element">
                      <mat-form-field appearance="outline">
                        <input matInput placeholder="Điểm" [pattern]="regExpClass.Diem" [(ngModel)]="element.THPTQG"
                          [ngModelOptions]="{standalone: true}" required>
                       
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                  </tr>
                </table>

              </div> -->
              <!-- #endregion cột điểm render theo từng nguyện vọng-->

            </div>
            <!-- #endregion Nguyện vọng và bảng điểm-->

            <!-- #region nút thêm nguyện vọng -->
            <!-- <a rule *ngIf="this.model.NguyenVongs.length < _dotTuyenSinh.SoLuongNguyenVong"
              class="float-right props pointer" variant="contained" color="green"  fxFlex="33"
              (click)="onAddNguyenVong()">
             <strong> Thêm nguyện vọng</strong>
            </a> -->
            <button rule *ngIf="this.model.NguyenVongs.length < _dotTuyenSinh.SoLuongNguyenVong"
              class="float-right props pointer mb-24 my-btn" variant="contained" color="accent" mat-raised-button
              (click)="onAddNguyenVong()">
              <mat-icon matSuffix class="mr-8">add</mat-icon><span>Thêm nguyện vọng</span>
            </button>
            <!-- #endregion -->

            <!-- #region cột điểm không theo từng nguyện vọng -->
            <!-- Cột điểm -->
            <div *ngIf="this.model.CotDiems.length > 0" class="pb-20">
              <table *ngIf="this.model.CotDiems.length > 0" mat-table [dataSource]="this.model.CotDiems"
                class="tbl-Diem table-responsive table-bordered mb-20">

                <ng-container matColumnDef="Ten">
                  <th mat-header-cell *matHeaderCellDef> Môn </th>
                  <td data-title="Môn" mat-cell *matCellDef="let element">{{element.Ten}} </td>
                </ng-container>

                <ng-container matColumnDef="Diem">
                  <th mat-header-cell *matHeaderCellDef> Điểm </th>
                  <td data-title="Điểm" mat-cell *matCellDef="let element">
                    <mat-form-field appearance="outline" class="plr-4 col-md-2 col-xs-80">
                      <input matInput placeholder="Điểm" [pattern]="regExpClass.Diem" [(ngModel)]="element.Diem"
                        [ngModelOptions]="{standalone: true}" required>
                      <!-- <mat-error>Nhâp điểm đúng và chính xác vd:8.08</mat-error> -->
                    </mat-form-field>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>

            </div>
            <!-- #endregion -->


          </div>
          <!-- #endregion -->

        </div>
        <!-- #endregion ==============THÔNG TIN ĐĂNG KÝ =============-->

      </div>


      <!-- #region ========== 3.THÔNG TIN KHẢO SÁT================  -->
      <div class="mat-card p-20">
        <div class="header-child style-1">
          <div class="stt"><span>3</span></div>
          <div class="content-header">
            <h2 class="header-title-child">THÔNG TIN KHẢO SÁT</h2>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <div [ngClass]="{'error': model.KhaoSatId == null && f.submitted}" appearance="outline" fxFlex="33"
            class="mat-form-field w-100-p inline-block pb-0">
            <app-select-dropdown name="khaosat" [(ngModel)]="model.KhaoSatId" [list]="khaoSats"
              [ngModelOptions]="{standalone: true}" placeholder="Bạn biết thông tin trường qua đâu">
            </app-select-dropdown>
            <mat-error class="font-mini" *ngIf="model.KhaoSatId == null && f.submitted">Nhập thông tin khảo sát
            </mat-error>
          </div>
        </div>

        <!-- Danh mục upload file -->
        <!-- <div class="giaytoyeucau-div" *ngIf="_dotTuyenSinh.ChoPhepUploadHoSo">
          <div class="title" (click)="onCLickCheckGiayTo()">
            <mat-icon>insert_drive_file</mat-icon> <span>Giấy tờ yêu cầu:</span>
            <span *ngIf="model.GiayToYeuCaus.length==0"> Chưa có giấy tờ yêu cầu</span>
          </div>
          <div class="list">
            <input type="file" #fileInput (change)="uploadFileDinhKem($event.target.files)" class="input-file" />
            <div *ngFor="let file of model.GiayToYeuCaus" class="itemgiayto-div">
              <div>
                <mat-checkbox *ngIf="IsGiaoDienTrongAdmin" class="accent-600-fg" name="giaytodanop{{file.Id}}"
                  [(ngModel)]="file.DaNop"></mat-checkbox>
                {{file.Ten}} <span class="taifile-span" (click)="onClickDinhKemTapTin(file.Id)">Tải file lên</span>
              </div>
              <div class="filedinhkem-div">
                <span *ngIf="file.FileDinhKem != null">
               
                  <span (click)="onClickFileURL(file.FileDinhKem)" class="downfile-span">
                    {{file.FileDinhKem.Ten}}</span>
                  <span (click)="onClickDeleteFileDinhKem(file.Id)" class="xoafile-span">Xóa</span>
                </span>
                <span *ngIf="file.FileDinhKem == null">
            
                  Chưa có đính kèm file</span>
              </div>
            </div>
          </div>
        </div>
        <h4>Tôi xin cam đoan những lời khai trong đơn đăng ký xét tuyển này là đúng sự thật. Nếu sai tôi xin chịu xử
          lý
          theo quy chế Tuyển sinh của Bộ GD & ĐT.</h4>

        <div fxLayout="row" fxLayoutAlign="center center">
          <button [disabled]='btnSaveDisable' *ngIf="_hoSoXetTuyenIdRouter == 'null'" class="mr-24" color="accent"
            mat-raised-button (click)="onRegisterClick()">
            <mat-icon matSuffix class="secondary-text">save</mat-icon>Đăng ký
          </button>
          <button [disabled]='btnSaveDisable' *ngIf="_hoSoXetTuyenIdRouter != 'null'" class="mr-24" color="accent"
            mat-raised-button (click)="onSaveClick()">
            <mat-icon matSuffix class="secondary-text">save</mat-icon>Lưu
          </button>
          <a *ngIf="_hoSoXetTuyenIdRouter != 'null'" target="_blank"
            href="{{serviceUrl}}/reports/ExportHoSoDangKyTuyenSinh?hsdangkytuyensinhid={{_hoSoXetTuyenIdRouter}}"
            class="mr-24" color="accent" mat-raised-button matStepperNext>
            <mat-icon matSuffix class="secondary-text">print</mat-icon>In
          </a>
          <a mat-raised-button matStepperNext class="mr-24" color="warn" (click)="onClearForm()">
            <mat-icon matSuffix class="secondary-text">clear_all</mat-icon>Nhập mới
          </a>
        </div>

      </div> -->
        <!-- #endregion -->

        <div class="note check-list">

          <strong>Kiểm tra lại thông tin trước khi Lưu.<br /></strong>
          <!-- <mat-checkbox class="example-margin" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="model.ThiSinh.DongYHeVuaHocVuaLam">
            <label>Trong trường hợp tôi không trúng tuyển vào hệ Chính quy của trường, tôi có nguyện vọng học lớp Chất
              lượng cao hệ vừa học - vừa làm.. </label>
          </mat-checkbox> -->

          <!-- <mat-checkbox *ngIf="!IsGiaoDienTrongAdmin" class="example-margin"
            (change)="checkBoxChangeCamDoanLoaiKhai($event)">
            <label>Tôi xin cam đoan những lời khai trong đơn đăng ký xét tuyển này là đúng sự thật. Nếu sai tôi xin chịu
              xử
              lý
              theo quy chế Tuyển sinh của Bộ GD & ĐT. </label>
          </mat-checkbox> -->
        
        </div>
        <div fxLayout="row" fxLayoutAlign="center ">
          <button *ngIf="_hoSoXetTuyenIdRouter == 'null'" class="mr-24" color="accent"
            mat-raised-button (click)="onRegisterClick()">
            <mat-icon matSuffix class="mr-8">save</mat-icon><span>Đăng ký / Lưu</span>
          </button>
          <button *ngIf="_hoSoXetTuyenIdRouter != 'null'" class="mr-24" color="accent"
            mat-raised-button (click)="onSaveClick()">
            <mat-icon matSuffix class="secondary-text">save</mat-icon>Lưu
          </button>
          <a *ngIf="_hoSoXetTuyenIdRouter != 'null'" target="_blank"
            href="{{serviceUrl}}/reports/ExportHoSoDangKyTuyenSinh_V2?hsdangkytuyensinhid={{_hoSoXetTuyenIdRouter}}"
            class="mr-24" color="accent" mat-raised-button matStepperNext>
            <mat-icon matSuffix class="secondary-text">print</mat-icon>In
          </a>
          <a *ngIf="IsGiaoDienTrongAdmin" mat-raised-button matStepperNext class="mr-24" color="warn"
            (click)="onClearForm()">
            <mat-icon matSuffix class="secondary-text">clear_all</mat-icon>Nhập mới
          </a>
        </div>

      </div>
      <!-- #endregion -->




      <!-- </div> -->
    </div>
    <!-- End Thông tin khảo sát -->
  </div>
  <!-- End Content -->

</form>
<!--End Page-layout -->