<div class="container">
  <div class="thongbao">
    <h1>ĐÃ HẾT HẠN ĐĂNG KÝ XÉT TUYỂN VÀO TRƯỜNG ĐẠI HỌC LUẬT TP.HCM</h1>
  </div>
  <div class="noidung">
    <h3>Ngày 18/07/2019 thí sinh dùng Tài khoản đã được cấp để đăng nhập vào website <a href="http://dangkyxettuyen.hcmulaw.edu.vn/">http://dangkyxettuyen.hcmulaw.edu.vn/</a> để xem kết quả Xét tuyển sơ bộ và thời gian, địa điểm kiểm tra năng lực</h3>
    <p>Mọi vướng mắc vui lòng liên hệ qua số điện thoại: 02839400989, máy nhánh 112 để được giải đáp</p>
  </div>
</div>