<div id="nganhdaotaos" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          collections_bookmark
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Hồ sơ xét tuyển
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-wrapper mx-32 mx-md-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input #textSearch placeholder="Tìm kiếm hồ sơ xét tuyển">
        </div>
      </div>
      <!-- / SEARCH -->


    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="mat-elevation-z8 content-card">

      <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <!-- <mat-spinner></mat-spinner> -->
      </div>
      <mat-table class="nganhdaotaos-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
        fusePerfectScrollbar>

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="IDColumn">ID</mat-header-cell>
          <mat-cell *matCellDef="let row" class="IDColumn" [routerLink]="['/admission/ho-so-xet-tuyen/'+row.Id]">
            <p class="text-truncate">{{row.Id}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ten">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="TenColumn" >Tên hồ sơ xét tuyên</mat-header-cell>
          <mat-cell *matCellDef="let row" class="TenColumn" [routerLink]="['/admission/ho-so-xet-tuyen/'+row.Id]">
            <p class="text-truncate">{{row.Ten}}</p>
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="kichHoat">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs class="KichHoatColumn">Kích hoạt</mat-header-cell>
          <mat-cell *matCellDef="let row" fxHide fxShow.gt-xs class="KichHoatColumn" [routerLink]="['/admission/ho-so-xet-tuyen/'+row.Id]">
            <mat-icon *ngIf="row.KichHoat" class="active-icon green-600 s-16">check</mat-icon>
            <mat-icon *ngIf="!row.KichHoat" class="active-icon red-500 s-16">close</mat-icon>
          </mat-cell>
        </ng-container>
 
        <ng-container matColumnDef="ngayTao">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Ngày tạo</mat-header-cell>
          <mat-cell *matCellDef="let row" fxHide fxShow.gt-xs [routerLink]="['/admission/ho-so-xet-tuyen/'+row.Id]">
            <p class="text-truncate">
              {{row.NgayTao|  date: 'dd-MM-yyyy'}}
            </p>
          </mat-cell>
        </ng-container>

       

        

        <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;" class="nganhdaotao" matRipple>
        </mat-row>

      </mat-table>
    </div>
    <mat-paginator #paginator [length]="dataSource.length" [pageIndex]="0" [pageSize]="20"
      [pageSizeOptions]="[2, 5, 10, 25, 100]">
    </mat-paginator>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>