
<div class="page-layout carded fullwidth inner-scroll thong-bao">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent">

  </div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- CONTENT CARD -->
    <div class="content-card">

      <div class="content p-24">
        <div class="subtitle secondary-text">Nội dung thông báo:</div>
        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
          <angular-editor [(ngModel)]="htmlContent" class="agEditor" id="editor" [config]="config">
          </angular-editor>
        </div>
      </div>
      <button mat-raised-button color="primary" class="save-product-button" (click)="SaveNotification()">LƯU</button>
    </div>
  </div>
</div>